body {
	background: #fff;
	color: #b2b9bC;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-weight: 600;
}

.button {

    border-radius: 9px;
    color: #FFFFFF;
    font-size: 1.75em;
    padding: 9px 31px;
    text-decoration: none;
    margin:3px;
    text-align: center;
    display: inline-block;
    background:#3880F5
}
.button.big
{   width: 100%;
    background: none repeat scroll 0 0 #E24E42;}
input {
    border-radius: 2px;
    border:1px solid #999;
    color: #555;
    color: #555;
    display: inline-block;
    text-decoration: none;
    padding:8px;
}
#nav a {
	color: #fff;
	font-style: italic;
	text-decoration: none;
}

#hero {
	background: #FCFBED;
	color: #555;
	text-align: center;
}
h1{
    margin:20px 0;
}
#main
{
    margin-top: 20px;
}
#footer {
	color: #62696c;
	text-align: center;
}
img{
max-width: 100%;
}